.list {
  margin-top: 2rem;
}

.list li {
  display: flex;
  gap: 1rem;
  border-bottom: 1px dotted white;
  padding: 0.5rem 0;
  align-items: center;
  cursor: pointer;
  transition: 0.3s;
}

.list li:hover {
  transform: translateX(5px);
}

.list li p:nth-of-type(1) {
  width: 100%;
}
